body {
    background-color: aliceblue;
}

.top {
    top: top;
    height: 40%;
    background-color: black;
}

.top::after {
    content:"";
    display: table;
    clear: both;
}

#head {
    text-align: center;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

.heading {
    color: blue;
    float: left;
    width: 28%;
    border-style: hidden;
    border-width: 1%;
    border-radius: 5%;
    margin: 1% 1% 1% 1%;
    padding: 1%;
}

#info {
    background-color: rgb(240, 248, 225);
    text-align: center;

}

#piechart {
    background-color: rgb(240, 248, 235);
}

#budget_details {
    background-color: rgb(240, 248, 235);
    text-align: center;
    color: black;
}

.list {
    float: left;
    width: 45%;
    border-style: hidden;
    border-width: 1%;
    border-radius: 5%;
    margin: 1% 1% 1% 1%;
    padding: 1%;
    background-color: white;
}

.bottom::after {
    content:"";
    display: table;
    clear: both;
}

.clearfix {
    float: left;
    width: 25%;
}

.income_item {
    color: green;
}

.expense_item {
    color: red;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.item__delete--btn {
    background-color: white;
    border-style: hidden;
    padding: 0% 0% 0% 0%;
}

/*Entering input*/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
}

.add__type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description { width: 400px;}
.add__value { width: 100px;}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.add__type:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/*Responsive layout*/
@media screen and (max-width:600px) {
    .heading {
        width: 100%;
    }
    .bottom {
      width: 100%;
    }
    .top {
        width: 100%;
    }
    .list {
        width: 100%;
    }
}
